<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logging and testing assignment - delete</title>
</head>

<body>
    <h1>Delete user</h1>
    <form>
        <input type="text" id="delUser" required/>
    </form>
    <button id="delBtn" type="button">Delete</button>

    <script>
        const btn = document.querySelector('#delBtn');
        btn.addEventListener('click', async (e) => {
            const  delName = document.querySelector('#delUser').value;
            await fetch('/delete', {
                method: 'delete',
                body: JSON.stringify({
                    name: delName
                }),
                headers: {
                    "Content-Type": "application/json",
                }
            })
            .then(res => res.json())
            .then(data => {
                 alert(data.message)
            })
            .catch(err => alert('failed to delete user'));
            window.location.replace('/')
        });
    </script>
</body>

</html>