<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logging and testing assignment</title>
</head>

<body>
    <h1>Welcome to assignment</h1>
    <h3>Tasks</h3>
    <ol>
        <li>create user by visting <a href="/create">/create</a></li>
        <li>update user by visting <a href="/update">/update</a></li>
        <li>list user by visting <a href="/list">/list</a></li>
        <li>delete user by visting <a href="/delete">/delete</a></li>
    </ol>
</body>

</html>