<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logging and testing assignment - update</title>
</head>

<body>
    <h1>Update users</h1>
    <h3>existing users</h3>
    <ol>
    </ol>
    <form>
        <input type="text" name="updUser" id="updUser" />
        <input type="text" name="newUsername" id="newUsername" />
    </form>
    <button type="button" id="updBtn">Update</button>
    <script>
        const btn = document.querySelector('#updBtn');
        btn.addEventListener('click', async (e) => {
            const userName = document.querySelector('#updUser').value;
            const newUserName = document.querySelector('#newUsername').value;
            await fetch('/update', {
                method: 'put',
                body: JSON.stringify({
                    name: userName,
                    newName: newUserName
                }),
                headers: {
                    "Content-Type": "application/json",
                }
            })
                .then(res => res.json())
                .then(data => {
                    alert(data.message);
                })
                .catch(err => {
                    alert('failed to update user');
                });
            window.location.replace('/');
        });
    </script>
</body>

</html>